body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calc {
  font-size: 30px;
}

ol {
  border: 10px solid blue;
  border-radius: 25px 50px 25px 50px;
  padding: 40px;
}

li {
  color: mediumvioletred;
}

.slotMachine {
  text-align: center;
}

h1.Heading {
  width: 40%;
  text-align: center;
  border-bottom: 1px solid black;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 5px 10px grey;
}

.btn-container {
  text-align: center;
}

button.hookBtn {
  height: 35px;
  width: 8em;
  background: cornflowerblue;
  box-shadow: 5px 5px 10px grey;
}

html {
  height: 100%;
  width: 100%;
  background: rebeccapurple;
}

div#root {
  text-align: center;
  margin-top: 15%;
}

h1.formHeading {
  color: white;
  font-size: 50px;
  text-shadow: 5px 5px 10px grey;
}

input.formInput {
  width: 25%;
  height: 45px;
  box-shadow: 5px 5px 5px grey;
  font-size: 25px;
  font-family: monospace;
}

button.formBtn {
  width: 8%;
  height: 40px;
  font-size: 25px;
  font-family: monospace;
  box-shadow: 5px 5px 5px grey;
}